// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

#letters {
  background-color: #369BAC;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  p {
    margin: 0;
  }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #EBEBEB;
    font-size: 15px;
    line-height: 1.6em;
    color: #7d7d7d;
}

.btn-blue {
  background-color: #369BAC;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.form {
    display: flex;
    justify-content: center;
    padding: 30px;
}
