// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
  padding: 20px;
}

#letters {
  background-color: #EFEFFF;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
